html{
  scroll-behavior: smooth;
}
nav>ul>li{
  text-align: right;
  display: inline-block;
;
}
ul>li>a{
  padding: 50px;
  color: white;
  text-decoration: none;

}
li>a:hover{
color: red;
}
body{
  text-align: center;
  background-color: black;
  opacity: 0.7;
  color: white;
}
.insta,p{
  justify-content: space-around;
  background-color: blue;
  opacity: 0.8;
  color: black;
  padding: 10px;
}
h2{
  color:white;

}
#answer{
  color: red;
  font-variant: small-caps;
  font-stretch: extra-expanded;
  font-style: oblique;
  font-family: monospace;
}
.image{
  justify-content: space-between;
}
img{
  margin-right: 2%;
}
